{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="U-XA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BCKTList</title>

	<!-- Styles -->
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Scripts -->

</head>


<body id="body">

	<header role="banner">

		<h1>BCKTList</h1>
		<h2>An application to help you get things done</h2>

	</header>


	<main role="main">

		<!-- Adding new todos -->
		<div>

		</div>

		<!-- Display todos -->

	</main>


	<footer>

	</footer>

</body>

</html>