{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="U-XA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BCKTList</title>

	<!-- Styles -->
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Scripts -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

</head>


<body id="body">

	<header role="banner">

		<h1>BCKTList</h1>
		<h2>An application to help you get things done</h2>

	</header>


	<main role="main">

		<!-- Adding new Todos -->
		<div>
			<h2> Add a thing to do: </h2>
			<form method="Post" role="form">
				<div>
					<span class="input-group">
						<button type="submit">ADD</button>
					</span>
				</div>
			</form>
		</div>

		<!-- Adding & Deleting Todos -->
		<div class="bckt-grid">
			<div class="grid-item">
				<a><button><i class="fas fa-trash-alt"></i> Delete Completed </button></a>
			</div>
			<div class-"grid-item">
					<a><button><i class="fas fa-trash-alt"></i> Delete All </button></a>
			</div>
		</div>

		<!-- Display Todos -->
		<ul>
			{% for item in bckt_list %}
			<li class="list-item"> {{ item.text }} </li>
			{% endfor %}
		</ul>

	</main>


	<footer>

	</footer>

</body>

</html>